.hero-div {
    width: 500px;
    padding: 13rem 0;
    h2,
    p {
        color: $textLight;
    }
}
.padding {
    padding: 8rem 0;
}

// Responsive Header
@media all and (max-width: 768px) {
    .hero-div {
        width: 400px;
    }
}